<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div  th:fragment="navbar(topNavBar)" class="layui-header  layui-bg-cyan">
    <div class="layui-logo" th:text="#{home.info}"></div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav  layui-layout-left layui-bg-cyan">
        <li class="layui-nav-item" th:classappend="${topNavBar}=='home'?'layui-this':''" ><a href="/" th:text="#{home.home}"></a></li>
        <li class="layui-nav-item" th:classappend="${topNavBar}=='monitor'?'layui-this':''" ><a href="/monitor" th:text="#{home.monitor}"></a></li>
        <li class="layui-nav-item" th:classappend="${topNavBar}=='group'?'layui-this':''" ><a href="/group" th:text="#{home.group}"></a></li>
        <li class="layui-nav-item" th:classappend="${topNavBar}=='setting'?'layui-this':''" >
            <a href="/setting" th:text="#{home.setting}"></a>
            <!--<dl class="layui-nav-child">
                <dd><a href="">链接字符串</a></dd>
                <dd><a href="">发送邮件设置</a></dd>
            </dl>-->
        </li>
    </ul>
    <ul class="layui-nav  layui-layout-right layui-bg-cyan">

        <li class="layui-nav-item">
            <a  href="javascript:;" th:text="#{home.language}"></a>
            <dl class="layui-nav-child">
                <dd><a href="/zh" th:text="#{home.language.zh}"></a></dd>
                <dd><a href="/en" th:text="#{home.language.en}"></a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;" th:text="${session.USER.userName}"></a>
            <dl class="layui-nav-child">
                <dd><a href="/setting/modifyPassword" th:text="#{home.user.modifyPassword}"></a></dd>
                <dd><a href="/logout" th:text="#{home.user.quit}"></a></dd>
            </dl>
        </li>
    </ul>
    <script>
        layui.use('element', function(){
            var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

            //监听导航点击
            element.on('nav(demo)', function(elem){
                //console.log(elem)
                //layer.msg(elem.text());
            });
        });
    </script>
</div>
</html>