<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">基础设置</a>
                <dl class="layui-nav-child">
                    <dd><a href="/setting/email">邮件发送设置</a></dd>
                    <dd><a href="/conn/list">连接字符串设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">用户设置</a>
                <dl class="layui-nav-child">
                    <dd><a href="/setting/modifyPassword">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">其它</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">关于</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
</html>