<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/head::head('Item Edit-Group-DataInspection')"></head>
<body>

    <div class="container" th:if="${apiInterface == null || apiInterface.error_code>0}">
        <form method="post">
            <input type="hidden" id="id" name="id" th:value="${trigger.id}">
            <input type="hidden" id="groupId" name="groupId" th:value="${trigger.groupId}">

            <div class="form-group row">
                <label for="title" class="col-sm-3 col-form-label">title</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="title" name="title" th:value="${trigger.title}">
                </div>
            </div>

            <div class="form-group row">
                <label for="trigger_type" class="col-sm-2 col-form-label">trigger_type</label>
                <div class="col-sm-10">
                    <select id="triggerType" name="triggerType" class="form-control">
                        <option th:selected="${trigger.triggerType=='1'}" value="1" >固定时间间隔</option>
                        <option th:selected="${trigger.triggerType=='2'}" value="2"  >Corn</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="corn" class="col-sm-3 col-form-label">Corn</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="corn" name="corn" th:value="${trigger.corn}">
                </div>
            </div>
            <div class="form-group row">
                <label for="interval" class="col-sm-3 col-form-label">interval</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="interval" name="interval" th:value="${trigger.interval}">
                </div>
            </div>
            <div class="form-group row">
                <label for="status" class="col-sm-3 col-form-label">status</label>
                <div class="col-sm-9">
                    <select id="status" name="status">
                        <option th:selected="${1 == trigger.status}" value="1">正常</option>
                        <option th:selected="${0 == trigger.status}" value="0">停用</option>
                        <option th:selected="${-1 == trigger.status}" value="-1">删除</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="remark" class="col-sm-3 col-form-label">Remark</label>
                <div class="col-sm-9">
                    <textarea id="remark" name="remark" th:text="${trigger.remark}" class="form-control"></textarea>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary">保存</button>
            </div>
        </form>
    </div>
    <script>
    </script>
    <script th:if="${apiInterface != null && apiInterface.error_code==0}">

        top.layer.alert("成功",{icon:1},function () {
                //console.log(1111);
                top.window.location=top.window.location;
                //console.log(222222);
                top.layer.closeAll();
                //console.log(333333);
            });
    </script>
    <script th:if="${apiInterface != null && apiInterface.error_code>0}">
        //parent.layer.closeAll();
        layer.alert("保存失败",{icon:2});
    </script>
</body>
</html>