<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/head::head('Group-DataInspection')"></th:block>
</head>
<body class="layui-layout-body single-page">
<div class="layui-layout layui-layout-admin">
    <!--header-->
    <div th:replace="common/navbar::navbar(${topNavBar})"></div>
    <!--END header-->
    <!--body-->
    <div class="layui-body" style="padding: 10px;">

        <h3 th:text="#{home.group}"></h3>
            <button class="layui-btn" onclick="click_edit(0);return false;">
                <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                </svg>
                Add</button>

        <table  class="layui-table">
            <thead>
            <tr>
                <th></th>
                <!--<th>Code</th>-->
                <th th:text="#{group.name}">Name</th>
                <th th:text="#{group.isSend}">isSend</th>
                <th th:text="#{group.isSendEmail}">isSendEmail</th>
                <th th:text="#{group.emails}">emails</th>
                <th th:text="#{group.sendCondition}">SendCondition</th>
                <th th:text="#{group.remark}">Remark</th>
                <th th:text="#{group.lastUpdateTime}">lastUpdateTime</th>
                <th th:text="#{group.status}">Status</th>
                <th th:text="#{group.edit}">Edit</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="group,groupStat  : ${groupList}">
                    <th th:text="${groupStat.index+1}">状态变量：index</th>
                    <!--<td th:text="${group.groupCode}"></td>-->
                    <td th:text="${group.name}"></td>
                    <td>
                        <span th:if="${group.isSend==1}" th:text="#{common.yes}"></span>
                        <span th:if="${group.isSend==0}" th:text="#{common.no}"></span>
                    </td>
                    <td>
                        <span th:if="${group.isSendEmail==1}" th:text="#{common.yes}"></span>
                        <span th:if="${group.isSendEmail==0}" th:text="#{common.no}"></span>
                    </td>
                    <!--<td th:text="${group.isSendEmail}"></td>-->
                    <td th:utext="${#strings.replace(group.emails,';',';<br>')}"></td>
                    <td th:text="${group.triggerCondition==0?'有数据执行':'固定执行'}">Onions</td>
                    <td th:text="${group.remark}"></td>
                    <td th:text="${group.lastUpdateTime}"></td>
                    <td><span th:if="${group.status==0}">停用</span></td>
                    <td th:object="${group}" >
                        <!--<a th:onclick="|click_edit(${group.groupId});return false;|" href="#">Edit</a> | -->
                        <!--<a
                            th:href="@{'/group/view?id='+${group.groupId}}" target="_blank" >Edit</a> | <a
                            th:href="@{'/group/result?id='+${group.groupId}}" target="_blank" >Result</a>-->

                        <div class="layui-btn-group">
                            <a class="layui-btn layui-btn-sm" th:href="@{'/group/view?id='+${group.groupId}}" target="_blank" ><i class="layui-icon">&#xe642;</i></a>
                            <button type="button" class="layui-btn layui-btn-sm"  title="删除" onclick="layer.alert('开发中...')">
                                <i class="layui-icon">&#xe640;</i>
                            </button>
                            <a class="layui-btn layui-btn-sm" th:href="@{'/group/result?id='+${group.groupId}}" target="_blank" ><i class="layui-icon">&#xe602;</i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--END body-->
    <!--footer-->
    <div th:replace="common/footer"></div>
    <!--END footer-->
</div>
<script>
    function click_edit(id) {
        //alert(id);
        var url = "/group/edit?id="+id;

        window.alyer_index = layer.open({
            type: 2,
            area: ['700px', '500px'],
            fixed: false, //不固定
            maxmin: true,
            content: url,
            title: id==0?'New Group':'Edit Group'
        });
    }
    function click_view(id) {
        var url = "/group/view?id="+id;
        window.open(url,'_blank');
    }

    function fun_reload() {
        window.location=window.location;

    }
</script>
</body>
</html>