<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/head::head('DataInspection')"></head>
<body>

<div th:replace="common/navbar::navbar(${topNavBar})"></div>
<div style="margin-top: 15px;"></div>
<div class="row">
    <div class="col-3" style=" padding-left: 30px;">

        <div th:replace="common/settingMenu"></div>
        <!--<div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">设置</a>
            <a href="/conn/list" class="list-group-item list-group-item-action">连接字符串管理</a>
            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
        </div>-->

    </div>
    <div class="col-9"></div>
</div>

</body>
</html>