<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/head::head('Setting-DataInspection')"></th:block>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--header-->
    <div th:replace="common/navbar::navbar(${topNavBar})"></div>
    <!--END header-->
    <!--sider-->
    <div th:replace="common/settingMenu"></div>
    <!--END sider-->
    <!--body-->
    <div class="layui-body" style="padding: 10px;">
    </div>
    <!--END body-->
    <!--footer-->
    <div th:replace="common/footer"></div>
    <!--END footer-->
</div>
</body>
</html>