<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/head::head('Setting-DataInspection')"></th:block>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--header-->
    <div th:replace="common/navbar::navbar(${topNavBar})"></div>
    <!--END header-->
    <!--sider-->
    <div th:replace="common/settingMenu"></div>
    <!--END sider-->
    <!--body-->
    <div class="layui-body" style="padding: 10px;">
        <form  class="layui-form">
            <input type="hidden" id="userName" name="userName" th:value="${userBean.userName}">
            <div class="layui-form-item">
                <label for="oldPassword" class="layui-form-label" th:text="#{user.modifyPassword.oldPassword}">Old Password</label>
                <div class="layui-input-block">
                    <input type="password" class="layui-input" lay-verify="myRequire" id="oldPassword" name="oldPassword" th:value="${userBean.oldPassword}">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="password" class="layui-form-label"  th:text="#{user.modifyPassword.newPassword}">New Password</label>
                <div class="layui-input-block">
                    <input type="password" class="layui-input" lay-verify="myRequire" id="password" name="password" >
                </div>
            </div>
            <div class="layui-form-item">
                <label for="confirmPassword" class="layui-form-label"  th:text="#{user.modifyPassword.confirmPassword}">Confirm Password</label>
                <div class="layui-input-block">
                    <input type="password" class="layui-input" lay-verify="confirmPassword" id="confirmPassword" name="confirmPassword">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo" th:text="#{user.modifyPassword.updatePassword}">更新密码</button>
                </div>
            </div>
        </form>
        <script th:inline="javascript">
            //Demo
            layui.use('form', function(){
                var form = layui.form;
                //验证
                form.verify({
                    myRequire: function(value, item) { //value：表单的值、item：表单的DOM对象
                        if(value.length==0){
                            return [[#{valid.require}]];
                        }
                    },confirmPassword: function(value, item) { //value：表单的值、item：表单的DOM对象
                        if(value.length==0){
                            return [[#{valid.require}]];
                        } else  if(value != $('#password').val()){
                            return [[#{valid.require}]];
                        }
                    }
                });
                //监听提交
                form.on('submit(formDemo)', function(data){
                    //layer.msg(JSON.stringify(data.field));
                    $.post('/setting/modifyPassword',data.field,function (returnData) {
                        // console.log(returnData);
                        if(returnData.error_code==0){
                            layer.alert([[#{common.success}]],{title:[[#{home.user.modifyPassword}]],icon:1,end:function () {}});
                        } else{
                            layer.alert([[#{common.failed}]]+returnData.message,{title:[[#{home.user.modifyPassword}]],icon:2});
                        }
                    });

                    return false;
                });
            });
        </script>
    </div>
    <!--END body-->
    <!--footer-->
    <div th:replace="common/footer"></div>
    <!--END footer-->
</div>
</body>
</html>