<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/head::head('DataInspection')"></th:block>
    <link rel="stylesheet" href="/js/editormd/css/editormd.preview.min.css">
</head>
<body class="layui-layout-body single-page">
    <div class="layui-layout layui-layout-admin">
        <!--header-->
        <div th:replace="common/navbar::navbar(${topNavBar})"></div>
        <!--END header-->
        <!--body-->
        <div class="layui-body">
            <div id="test-markdown-view">
                <!-- Server-side output Markdown text -->

                <textarea style="display:none;">
# Data Inspection(数据巡检)

## 介绍
### 简介
查找错误数据，邮件提醒相关人员。

### 背景介绍
- 工作中，数据难免有错误，总是收到用户反馈后才去处理，很被动。
- 为解决此问题，就写了定时查SQL发邮件的功能，提前发现问题数据。
- 此项目是为了实现简单灵活管理数据巡检而开发。

### 功能说明
本项目利用SQL，检查数据是否有错误数据，然后发送邮件提醒。
主要功能：
- 配置巡检组
- 配置巡检项（SQL,支持数据库sqllite/mysql/oracle/sql server/）
- 配置触发器（定期执行，还每隔一段时间执行）
- 发送邮件（可以设置，有错误数据发送或固定发送）
- 支持中英双语（后台续完善英文）
### 技术说明
- 使用 Spring boot 2.3.1 + thymeleaf + sqlite + bootstrap 4.4.1
- 使用sqllite，是为了减少数据库依赖，方便移值安装。


##安装
### JAR安装说明

### Docker安装说明

## 使用
### 使用说明

### 找回密码</textarea>
            </div>
        </div>
        <!--END body-->
        <!--footer-->
        <div th:replace="common/footer"></div>
        <!--END footer-->
    </div>


<script src="/js/editormd/lib/marked.min.js"></script>
<script src="/js/editormd/lib/prettify.min.js"></script>
<script src="/js/editormd/editormd.min.js"></script>
<script type="text/javascript">
    $(function() {
        var testView = editormd.markdownToHTML("test-markdown-view", {
            // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
            // htmlDecode : true,  // Enable / disable HTML tag encode.
            // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
        });
    });
</script>
</body>
</html>