<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/head::head('DataInspection')"></head>
<body>
<style>
    body{background-color: #eeeeee;}
    .login-body{ background-color: white;    background-color: white;
        width: 350px;
        float: right;
        margin-top: 10%;
        margin-right: 10%;
        border-radius: 5px;
        padding: 5px 10px; }
</style>
<div class="container">
    <div class="login-body">
        <form method="post">
            <div class="form-group">
                <label for="userName">userName</label>
                <input type="text" class="form-control" id="userName" name="userName" th:value="${apiInterface.data.userName}">
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" class="form-control" id="password" name="password" th:value="${apiInterface.data.password}">
                <small id="emailHelp" class="form-text text-muted">初始化密码: admin</small>
            </div>
            <div th:if="${apiInterface.error_code>0}" th:text="${apiInterface.message}" class="text-danger"></div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
<script>
</script>
</body>
</html>